.SearchBarContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px ;
}

.LoginBtn{
    background-color: none;
    border: none;
    background-color: #14161A;
    color: #FFFF;
    padding: 0 32px;
    border-radius: 50px;
    height: 48px;
    width: 127.7px;
}